version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: *
        versions: ["*-preview", "*-PREVIEW", "*-snapshot", "*-SNAPSHOT", "*-rc", "*-RC"]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "quarterly"
