name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  scan:
    name: Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Run Detekt
        continue-on-error: true
        run: |
          chmod +x gradlew
          ./gradlew detekt

      - name: Make artifact location URIs relative
        continue-on-error: true
        run: |
          echo "$(
            jq \
              --arg github_workspace ${{ github.workspace }} \
              '. | ( .runs[].results[].locations[].physicalLocation.artifactLocation.uri |= if test($github_workspace) then .[($github_workspace | length | . + 1):] else . end )' \
              ${{ github.workspace }}/build/reports/detekt/merge.sarif
          )" > ${{ github.workspace }}/build/reports/detekt/merge.sarif

      - uses: github/codeql-action/upload-sarif@2d92b76c45b91eb80fc44c74ce3fce0ee94e8f9d
        with:
          sarif_file: ${{ github.workspace }}/build/reports/detekt/merge.sarif
          checkout_path: ${{ github.workspace }}

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [scan]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Set up JDK 21
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          java-version: 21
          distribution: temurin
      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew stage
      - name: Archive production artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: release
          path: build/libs/diabot.jar
