name: Deploy to Heroku

on:
  workflow_run:
    workflows: [ Build and Test ]
    branches: main
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "diabot-discord"
          heroku_email: ${{secrets.HEROKU_EMAIL}}
